{% extends "Tasks-admin.html" %}
{% block content2%}

<div align="left" style="margin-left: 25em ; margin-top: 3em">
<form action="{{ url_for('addtask') }}" method="post">
        Task name:<br>
        <input type="text" name="taskname" size="29">
        <br>
        Desciption:<br>
        <textarea rows="20" cols="50"  name="description">
              </textarea>  
       <br>
        Checking method:
        <br>
        <input type="text" name="testmethod" size="29">
        <br> <br>
        <input type="submit" value="Submit">
      </form> 
</div>

{% endblock %}
