{% extends "Theory-admin.html" %}
{% block content2%}

      <font size="+2">
          Pick theory, which you want to update.
          <form action="{{ url_for('pick_to_update') }}" method="post">

          {% for theory in theory_list %}

          <p align="center">

                  <input type="checkbox" onclick="pick_to_update()" name="name" value={{theory}}> {{ theory }}
                      </input>

          </p>
                  {% endfor %}
                  <p align="center">

                        <input type="submit" value="Submit" align="center">
                      </p>                  
        </form>

      </font>


{% endblock %}
